$primary-blue: #141B41;
$secondary-blue: #96ADC8;
$secondary-orange: #EF3E36;
$primary-grey: #E9C46A;
$deep-grey: #A6A57A;

$box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
$mid-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.10);
$darker-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
